body {
    font-size: 16px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
/* Tablet styles */
@media (max-width: 991.98px) {
    body {
        font-size: 14px;
    }
    .container {
        max-width: 960px;
    }
}

/* Mobile styles */
@media (max-width: 767.98px) {
    body {
        font-size: 12px;
    }
    .container {
        max-width: 540px;
    }
    .nav_container {
        flex-direction: column;
        text-align: center;
    }
    .nav_container .logo,
    .nav_container .sort_button,
    .nav_container .blog_button{
        width: 100%;
    }
    .button_container button {
        width: 100%;
    }
}
